In [1]:
# wap convert a tuple into string

In [2]:


# 2.Write a Python program to create a tuple with 
# different data types.

# 3.Write a Python program to create a tuple with 
# numbers and print one item.

# 4.Write a Python program to add an item in a tuple.

# 5.Write a Python program to convert a tuple to a string.

# 6.Write a Python program to convert a list to a tuple.

# 7.Write a Python program to remove an item from a tuple.

# 8.Write a Python program to find the index of an 
# item of a tuple.

# 9.Write a Python program to reverse a tuple.

# 10.Write a Python program calculate the product, 
# multiplying all the numbers of a given tuple. 
# Original Tuple:
# (4, 3, 2, 2, -1, 18)

# 11.Python – Adding Tuple to List and vice – versa.

# 12.Python program to find tuples which have 
# all elements divisible by K from a list of tuples.

# 13.Python – Removing duplicates from tuple.

In [3]:
# 5.Write a Python program to convert a tuple to a string.


a=(1,2,3,4,5,6)

type(a)

a=str(a)

print(a)

type(a)

(1, 2, 3, 4, 5, 6)

str

In [4]:
a=(1,2,3,4,5,6)

In [5]:
type(a)

tuple

In [6]:
a=str(a)

In [7]:
a

'(1, 2, 3, 4, 5, 6)'

In [8]:

type(a)

str

In [9]:
# 6.Write a Python program to convert a list to a tuple.

In [10]:
c=[1,2,3,4,5,6]

type(c)

list

In [11]:
c=tuple(c)

In [13]:
type(c)

tuple

In [14]:
# a=(1,'fsdhfksd',2.3,3j+4,True)

# 12.Python program to find tuples which have 
# all elements divisible by K from a list of tuples.

In [26]:
k=5
x=[(45,90,75,60)]

for i in x:
    for j in i:
        if j%k==0:
            print(j)

45
90
75
60

In [17]:
t=(1,2,3,4,5,6)
t1=(2,4,6,8,10)

In [18]:
for i in t:
    if i%k==0:
        print(i)
    else:
        print("tuple is not divisible")
        break

tuple is not divisible

In [19]:
# 13.Python – Removing duplicates from tuple.

In [20]:
d=(1,2,3,2,4,5,6,8)

In [22]:
for i in d:
    print(i)

1
2
3
2
4
5
6
8

In [31]:
d=list(d)
for i in d:
    for j in d:
        if i==j:
            k=i

In [30]:
l1=[1,2,3,4]
l2=[45,78,2,90]

for i in l1:
    for j in l2:
        if i==j:
            print("common : ",j)

common :  2

In [32]:
# wap to cerate single element dictionary

In [33]:

dic={}

print(type(dic))

<class 'dict'>

In [36]:
dic={"name":"Rishant"}

print(dic)

{'name': 'Rishant'}

# SET

In [37]:
# immutable
# unordered
# unindexed

In [42]:
x={1,2,3,4,-5,6,7,8,-9}

In [49]:
print(x)

{1, 2, 3, 4, 6, 7, 8, -9, -5}

In [52]:
x

{-9, -5, 1, 2, 3, 4, 6, 7, 8}

In [54]:
dir(x)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']