In [38]:
# wap to find the average marks of a student in 3 subject using inheritance
# and for finding the avg marks make a function for avg marks and try to get th eoutput

class subject:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
class student(subject):
    def __init__(self,a,b,c):
        super().__init__(a,b,c)
#         self.avg=avg
    def av(self):
        avg=(self.a+self.b+self.c)/3
        return "The average marks of the 3 subjects is : "+str(avg)

In [39]:
s=student(20,30,40)

In [40]:
s.av()

'The average marks of the 3 subjects is : 30.0'

# multi-level inheritance

In [41]:
# inheritance form gp to parent
class a:
    def __init__(self,emp_name):
        self.emp_name=emp_name
            
class b(a):
    def __init__(self,emp_name,age):
        super().__init__(emp_name)
        self.age=age
    
class c:
    def __init__(self,sal):
        self.sal=sal
    
bb=b("Rishant",21)

In [43]:
bb.emp_name

'Rishant'

In [44]:
bb.age

21

In [48]:
# inheritance from parent to child

class a:
    def __init__(self,emp_name):
        self.emp_name=emp_name
            
class b:
    def __init__(self,age):
        self.age=age
    
class c(b):
    def __init__(self,age,sal):
        super().__init__(age)
        self.sal=sal
cc=c(21,0)

In [49]:
cc.age

21

In [50]:
cc.sal

0

In [51]:
# inheritance from grandparent to child

class a:
    def __init__(self,emp_name):
        self.emp_name=emp_name
            
class b:
    def __init__(self,age):
        self.age=age
    
class c(a):
    def __init__(self,emp_name,sal):
        super().__init__(emp_name)
        self.sal=sal
cc=c("Rishant",0)

In [53]:
cc.emp_name

'Rishant'

In [60]:
# inheritance from grandparent to parent to child

class a:
    def __init__(self,emp_name):
        self.emp_name=emp_name
            
class b(a):
    def __init__(self,emp_name,age):
        super().__init__(emp_name)
        self.age=age
    
class c(b):
    def __init__(self,emp_name,age,sal):
        super().__init__(emp_name,age)
        self.sal=sal
cc=c("Rishant",21,0)

In [61]:
cc.emp_name

'Rishant'

In [62]:
cc.age

21

In [63]:
cc.sal

0

In [90]:
# wap to find the salary of the engineer and a doctor but there is simpel condition for their salaries
# conditions are# if a engineer take holidays more than 12 in a year then there will be a deduction of 12%
# of salary and if doc takes same amount of holidays there is no deduction at all.
# but a doc salary is deducted by 2% if he takes holidays on sunday
# now the salary of engineer is 5 lpa while the salary of doc is 6lpa
# find the salary after deduction using oops



class salary:
    def engineer(self):
        h=int(input("Your salary is 5 lpa if you have taken any off enter : "))
        if h>12:
            print(5-((5*12)/100))
        else:
            print("Not deduction at all!! ")
        
    def doctor(self):
        h=int(input("Your salary is 6 lpa if you have taken any off on sunday enter : "))
        if h>0:
            print(6-((6*2)/100))
        else:
            print("No deduction at all!!")

In [91]:
s=salary()

In [92]:
s.engineer()

Your salary is 5 lpa if you have taken any off enter : 3
Not deduction at all!!

In [93]:
s.doctor()

Your salary is 6 lpa if you have taken any off on sunday enter : 4
5.88

In [85]:
class engineer:
    def __init__(self):
        self.sal_e=5 
        self.off=int(input("You are a engneer and your salary is 5 lpa, enter no. of leave you have taken : "))
        
    def pay_e(self):
        if self.off>12:
            print("Your salary after deduction : "+str(5-((5*12)/100))+" lpa")
        else:
            print("Hurray!! Not deduction at all, you will get 5 lpa")
        
class doctor(engineer):
    def __init__(self):
        super().__init__()
        self.sal_d=6
        self.sun_d=int(input("You are a Doctor and your salary is 6 lpa, enter no. of leaves on sunday, you have taken : "))
        print('To get salary of Engineer call : pay_e')
        print('To get salary of Doctor call : pay_d')
    def pay_d(self):
        if self.sun_d>0:
            print("Your salary after deduction : "+str(6-((6*2)/100))+" lpa")
        else:
            print("Hurray!! No deduction at all, You will get 6 lpa")

In [86]:
d=doctor()

You are a engneer and your salary is 5 lpa, enter no. of leave you have taken : 13
You are a Doctor and your salary is 6 lpa, enter no. of leaves on sunday, you have taken : 2
To get salary of Engineer call : pay_e
To get salary of Doctor call : pay_d

In [87]:
d.pay_e()

Your salary after deduction : 4.4 lpa

In [89]:
d.pay_d()

Your salary after deduction : 5.88 lpa