In [1]:
# wap to make a variable in a class

class var:
    a=10

v=var()
v.a

10

In [2]:
# wap and make a function inside the class and take the output

class ad:
    def add(self):
        a=10
        b=11
        print(a+b)
        
ad().add()

21

In [5]:
class ad:
    def add(self,a,b):
        print(a+b)
        
addd=ad()

a=int(input("Enter the number : "))

b=int(input("Enter the number : "))

addd.add(a,b)

Enter the number : 12
Enter the number : 12
24

In [12]:
# wap to make a variable and a function inside oops

class b:
    a=int(input("Enter the number : "))
    def func(self):
        
        print(a)
bb=b()
bb.func()

Enter the number : 12
12

# constructor

In [14]:
# no need to call constructor

#

In [15]:
class employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
e=employee("A",78000)

In [16]:
e.name

'A'

In [17]:
e.salary

78000

# inheritance

In [20]:
class parent:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class child(parent):
    def __init__(self,name,age,marks):
        parent.__init__(self,name,age)
        self.marks=marks
        
c=child('a',50,80)

In [21]:
c.marks

80

In [22]:
class parent:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class child(parent):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks=marks
        
c=child('a',50,80)

In [23]:
c.name

'a'

In [25]:
# wap to inherit the class car from automobile and try to find the output of the car class attrib

class automobile:
    def __init__(self,model,speed,color):
        self.model=model
        self.speed=speed
        self.color=color
class car(automobile):
    def __init__(self,model,speed,color,price):
        super().__init__(model,speed,color)
        self.price=price
c=car(2022,220,'red',1000000)

In [26]:
c.price

1000000

In [27]:
c.color

'red'

In [28]:
c.speed

220

In [29]:
c.model

2022